In [5]:
import pandas as pd

df = pd.read_csv("/Users/moses/Desktop/Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df['Gender'] = df['Gender'].str.strip().str.capitalize()
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [14]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "")
    .str.replace(")", "")
    .str.replace("-", "_")
)

df.columns

Index(['customerid', 'gender', 'age', 'annual_income_k$',
       'spending_score_1_100'],
      dtype='object')

In [15]:
df.dtypes

customerid               int64
gender                  object
age                      int64
annual_income_k$         int64
spending_score_1_100     int64
dtype: object

In [17]:
df.to_csv("Mall_Customers_cleaned.csv", index=False)

In [18]:
df.to_csv("/Users/moses/Desktop/Mall_Customers_cleaned.csv", index=False)